{% extends "auctions/layout.html" %}

{% block body %}
    <h2> {{listing.title}} </h2>

    <div style="margin:10px">
        {% if user.is_authenticated %}
            {% if in_watch_list %}
                <form action="{% url 'removeWatchList' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Remove from Watch List">
                </form> 
            {% else %}
                <form action="{% url 'addWatchList' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Add to Watch List">
                </form>
            {% endif %}
        {% endif %}
    </div>

    <img src = "{{listing.image_url}}" alt="{{ listing.title}}">
    <p> {{ listing.description}} </p>
    <p>Listed By: {{ listing.owner }} </p>
    <h5> ${{ listing.price.bid }} </h5>



    {% if user.is_authenticated %}
        <div>
            <form style="margin:10px" action="{% url 'addBid' id=listing.id %}" method="POST">
                {% csrf_token %}
                <label for="bid">Add Bid</label>
                <input type="number" name="newBid" min="0">
                <input type="submit" class="btn btn-primary" value="Add Bid">
            </form> 
        </div>

        {% if message %}
            {% if updated %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>  
            {% endif %}
        {% endif %}
    {% endif %}

    <div>
        <h4> Comments: </h4>
        {% if user.is_authenticated %}
            <form style="margin:10px" action="{% url 'addComment' id=listing.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="newComment" placeholder="Add a new comment...">
                <input type="submit" class="btn btn-success" value="Post Comment">
            </form> 
        {% endif %}

        {% for comment in comments %}
            <div style="border:1px solid black; margin: 5px">
                <h6 style="margin-left:5px">{{ comment.author }} commented:</h6>
                <p style="margin-left:5px">{{ comment.message }} </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}