{% extends "auctions/layout.html" %}

{% block body %}
    <h2> {{listing.title}} </h2>
    <img src = "{{listing.image_url}}" alt="{{ listing.title}}">
    <p> {{ listing.description}} </p>
    <p>Listed By: {{ listing.owner }} </p>
    <h5> ${{ listing.price}} </h5>

    <div>
        {% if user.is_authenticated %}
            {% if in_watch_list %}
                <form action="{% url 'removeWatchList' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Remove from Watch List">
                </form> 
            {% else %}
                <form action="{% url 'addWatchList' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Add to Watch List">
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}