{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{user.username}}'s Watch List:</h2>

<div class="row mx-3">
    {% for li in list %}
    <div class="card">
        <img class="card-img-top" src="{{ li.image_url}}">
        <div class="card-body">
            <h5 class="card-title">{{ li.title }}</h5>
            <p class="card-text">{{ li.description }}</p>
            <p class="card-text">{{ li.price }}</p>
            <a href="{% url 'listing' id=li.id %}" class="btn btn-primary">View Listing</a>
        </div>
    {% endfor %}
    </div>

{% endblock %}